-
  const news = [
    {
      img: '@img/news/workingOnMyUpcoming.jpg',
      text: 'Working on my upcoming full-lenth album that`s releasing later this year.',
    },
    {
      img: '@img/news/halloweenVibes.jpg',
      text: 'Halloween vibes.<br> Listen my new track!',
    },
    {
      img: '@img/news/warForLoveIsOutNow.jpg',
      text: 'WarForLove is OUT NOW!!<br> Stream it here!',
    },
  ]

  const about = {
    title: 'Bright Lights',
    text: [
      'Bright Lights is a multi-Grammy nominated singer, songwriter, DJ and record producer. She has written for numerous',
      `pop stars including Britney Spears, Justin Bieber, Usher and Beyoncé. Her catalog has amassed over 1 billion streams worldwide. More than 100 million of those streams can be attributed to her artist career and include such hits as Porter Robinson's "Language," 3LAU's "How You Love Me" and her own single "Runaway." She was also a featured vocalist on Zedd's #1 Clarity album. Her latest music video, "Put It Down," reached 1 million streams in the first week, releasing independently. Bright Lights is currently in the studio working on a self-produced album slated for release in 2020.`,
    ],
  }

  const info = {
    text: '“In an age where mainstream music is designed to be as easily consumed as possible, listening to Bright Lights is refreshing, to say the least. Her sound is perfect for radio but complex enough to eparate her from other pop newcomers.”',
  }

  const music = [
    '3LAU, Bright Lights — How You Love Me',
    'Bright Lights, Kaleena Zanders, Kandy — War For Love',
    'Pink Is Punk, Benny Benassi, Bright Lights — Ghost',
    'Hardwell, Dyro, Bright Lights — Never Say Goodbye',
    'Zeds Dead, Dirtyphonics, Bright Lights — Where Are You Now',
    'Zedd, Bright Lights — Follow You Down',
  ]

  const tours = [
    {
      image: '@img/tours/01.jpg',
      location: 'Chandler, AZ',
      text: 'The Park at Wild Horse Pass',
      date: 'Apr 02 2021',
    },
    {
      image: '@img/tours/02.jpg',
      location: 'Ibiza, IBZ',
      text: 'Swag Ibiza Club',
      date: 'Jul 08 2021',
    },
    {
      image: '@img/tours/03.jpg',
      location: 'Ibiza, IBZ',
      text: 'El Swing Ibiza',
      date: 'Jul 10 2021',
    },
    {
      image: '@img/tours/01.jpg',
      location: 'Chandler, AZ',
      text: 'The Park at Wild Horse Pass',
      date: 'Apr 02 2021',
    },
    {
      image: '@img/tours/02.jpg',
      location: 'Ibiza, IBZ',
      text: 'Swag Ibiza Club',
      date: 'Jul 08 2021',
    },
    {
      image: '@img/tours/03.jpg',
      location: 'Ibiza, IBZ',
      text: 'El Swing Ibiza',
      date: 'Jul 10 2021',
    },
  ]
