footer#contact.footer
  .footer__container._container 
    .footer__body
      .footer__logo
        img(src='@img/header/logo.svg', alt='logo')

      .footer__contact.footer-contact
        .footer-contact__block 
          .footer-contact__title Artist Management:
          .footer-contact__value Jake Henny

        .footer-contact__block 
          .footer-contact__title EMAIL:
          .footer-contact__value jake@brightlightsofficial.com

      .footer__social
        a.footer__social-item(href='#')
          img(src='@img/footer/apple.svg', alt='apple')
        a.footer__social-item(href='#')
          img(src='@img/footer/spotify.svg', alt='spotify')
        a.footer__social-item(href='#')
          img(src='@img/footer/insta.svg', alt='insta')
        a.footer__social-item(href='#')
          img(src='@img/footer/youtube.svg', alt='youtube')
        a.footer__social-item(href='#')
          img(src='@img/footer/twitter.svg', alt='twitter')
        a.footer__social-item(href='#')
          img(src='@img/footer/facebook.svg', alt='facebook')

      .footer__copy © 2020 DJ bright lights.
