header.header
  .header__container._container
    a.header__logo(href='#top')
      img(src='@img/header/logo.svg', alt='logo')
    .header__burger.burger
      span
    nav.header__menu.menu
      ul.menu__list
        li.menu__item
          a.menu__link(href='#about') About
        li.menu__item
          a.menu__link(href='#news') News
        li.menu__item
          a.menu__link(href='#music') Music
        li.menu__item
          a.menu__link(href='#media') Media
        li.menu__item
          a.menu__link(href='#tour') Tours
        li.menu__item
          a.menu__link(href='#contact') Contacts

  nav.burger-menu
    .burger-menu__hiden
    a.burger-menu__logo(href='#')
      img(src='@img/header/logo.svg', alt='logo')

    ul.burger-menu__list
      li.burger-menu__item
        a.burger-menu__link(href='#about') About
      li.burger-menu__item
        a.burger-menu__link(href='#news') News
      li.burger-menu__item
        a.burger-menu__link(href='#music') Music
      li.burger-menu__item
        a.burger-menu__link(href='#media') Media
      li.burger-menu__item
        a.burger-menu__link(href='#tour') Tours
      li.burger-menu__item
        a.burger-menu__link(href='#contact') Contacts
